html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 2rem;
}
