.game-board {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .game-board__row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  
  .letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
  }
  
  .letter--present {
    background-color: var(--color-present);
  }
  
  .letter--correct {
    background-color: var(--color-correct);
  }
  
  .letter--incorrect {
    background-color: var(--color-incorrect);
  }
  
  .input {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    font-size: 2rem;
    width: 320px;
    outline: none;
  }